h1, p	{
	text-align: center;
}

h1 {
	padding-top: 50px;
	padding-bottom: 25px;
}

#scroll-zone {
	position: relative;
}

#feeder {
	position: relative;
	z-index: 100;
}

#scroll-image	{
	z-index: 50;
	height:200px;
	width: 450px;
	position: absolute;
	margin: 0 auto;
}

#painting {
	height: 150px;
	background-color: navy;
	width: 40%;
 	margin: 0 auto;
 	border: 15px solid #321700;
}

#buttons {
	text-align: center;
	width: 70px;
	height: 70px;
	height: 70px;
	margin: 0 auto;
}

#container {
	background-image: url("https://st2.depositphotos.com/1011833/9129/i/950/depositphotos_91293576-stock-photo-old-nautical-map-background.jpg");
	background-size: auto;
	max-width: 1025px;
	height: 750px;
	margin: 0 auto;
}

body {
	background-color: black;
}