h1, h3, h4	{
	text-align: center;
	font-family: sans-serif;
}
h1 {
	padding-top: 30px;
	padding-bottom: 8px;
	font-family: 'Niconne', cursive;
	font-size: 60px;
	text-shadow: 2px 2px 2px #525252;
	margin: 0 330px;
	margin-bottom: 18px;
}
h3, h4, button {
	font-family: 'Lato', serif;
}
h3	{
	font-size: 28px;
	margin-bottom: 15px;
}
h4 {
	margin-top: 10px;
	font-size: 18px
}
#scroll-zone {
	position: relative;
	margin: 0 100px;
}
.feeder {
	position: relative;
	z-index: 100;
}
#scroll-image	{
	z-index: 50;
	height:200px;
	width: 450px;
	position: absolute;
	margin: 0 auto;
}
#painting {
	text-align: center;
}
img {
	max-height: 255px;
	border: 14px solid #321700;
	transition: 1s ease;
}
img:hover	{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition: 1s ease;
}
#buttons {
	text-align: center;
	width: 700px;
	height: 300px;
	margin: 0 auto;
	font-family: sans-serif;
	margin-top: 19px;
}
#buttons p {
	margin: 10px;
	background-color: tan;
}
button {
	height: 70px;
	width: 275px;
	margin: 1px 4px;
	font-size: 19px;
	text-shadow: .5px .5px 1px #525252;
	border-style: outset;
	border-width: 3px;
}
#container {
	background-image: url(../pics/wallpaper.jpg);
	background-size: auto;
	max-width: 1025px;
	height: 750px;
	margin: 0 auto;
}
body {
	background-color: black;
}